#about {
  width: 80%;
  margin: auto;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-content {
  flex: 1;
}

.about-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  padding: 6px 10px;
  margin: 5px 5px;
  font-size: 0.85em;
  color: var(--text-color);
}

.skill-icon {
  font-size: 30px;
}

@media (max-width: 850px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .skills {
    justify-content: center;
  }

  .about-image {
    order: 2;
  }

  .about-image img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 425px) {
  #about {
  width: 100%;
}

  .skill-icon {
  font-size: 15px;
}

.skill {

  padding: 4px 8px;

}

  .about-image img {
    width: 200px;
    height: 200px;
  }
}