#about {
  width: 80%;
  margin: auto;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  padding: 6px 10px;
  margin: 5px 5px;
  font-size: 0.85em;
  color: var(--text-color);
}

.skill-icon {
  font-size: 30px;
}