/* Project Info */
.project-info {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

/* Video */
.video-container {
  margin: 50px;
  text-align: center;
}

.custom-display {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin-top: 20px;
}

/* Photo */
.custom-photo-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 100px;
}

/* Photo gallery */
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
  justify-content: center;
}

.gallery-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.gallery-thumbnail:hover {
  transform: scale(1.1);
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 0, 12, 0.637);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}

.modal-image {
  max-width: 90%;
  max-height: 90vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
}

.modal-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */
.projectpage-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.projectpage-links a {
  padding: 8px 15px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.projectpage-links a:hover {
  background: var(--primary-hover);
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow-button:hover {
  background: var(--primary-hover);
}

@media (max-width: 425px) {
  .project-info {
    width: 100%;
  }
}