.footer-social {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.footer-social a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: var(--text-color);
}

.footer-social a::after {
  content: "||";
  color: var(--text-color);
  margin: 0 30px;
}

.footer-social a:last-child:after {
    content: "";
    margin: 0;
}

.footer-bottom {
    margin: 0 auto;
    font-size: .9em;
    text-align: center;
    padding-bottom: 50px;
    color: #503136;
}

@media (max-width: 425px) {
  .footer-social {
    flex-direction: column;
    align-items: center;
  }

  .footer-social a {
    margin-bottom: 15px;
  }

  .footer-social a::after {
    content: none;
  }
}
