/* Navbar styling */
.navbar-container {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  padding: 40px 40px;
  background-color: var(--background-color);
  box-shadow: 0 0 30px 15px var(--background-color);
}

nav ul {
  list-style-type: none;
  display: flex;
}

#title {
    margin: auto 30px;
    font-family: "Sacramento";
    font-size: 50px;
    color: var(--primary-color);
    text-decoration: none;
}

nav li {
  margin: 0 30px;
}

nav button {
  color: var(--text-color);
  text-decoration: none;
  all: unset;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav button:hover {
  color: var(--primary-color);
}

nav button::after {
  content: " ";
  border: 2px solid var(--primary-color);
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 70px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav button:hover::after {
  opacity: 1; 
  transform: scaleX(1);
}
