/* Project Section Styling */
.projects {
  margin-top: 100px;
  background-color: var(--background-color);
}

/* Container for project cards */
.projects-container {
  display: grid;
  justify-content: center;
  max-width: 1000px;
}

/* Individual project card */
.project-card {
  width: 85%;
  height: 340px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Image Styling */
.project-card img {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}

/* Project card background */
.project-background {
  background-image: url("/public/images/project_image.png");
  position: absolute;
  top: -1px;
  right: -1px;
  height: 110%;
  width: 78%;
  background-size: cover;
}

/* Text Styling */
.project-content {
  padding: 30px;
  width: 45%;
  z-index: 2;
}

.project-card h3 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.project-card p {
  color: var(--text-color);
  margin-bottom: 20px;
}

/* Project skills */
.project-skills {
  display: flex;
  flex-wrap: wrap;
}

.project-skill {
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 0.85em;
  color: var(--text-color);
}

/* Project links */
.project-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

/* Button Link */
.project-card a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 15px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.project-card a:hover {
  background: var(--primary-hover);
}

@media (max-width: 1010px) {
  .project-card img {
    display: none;
  }

  .project-background {
    background-image: none;
  }

  .project-content {
    padding: 30px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .project-card {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
  }
}