html, body {
  line-height: 27px;
  background-image: url("/public/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  color: var(--text-color);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 80px;
  color: var(--text-color);
  text-align: center;
}

h2::after {
    content: " ";
    border: 4px solid var(--primary-color);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80px;
}